<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta content="IE=edge" http-equiv="X-UA-Compatible">

<title>学子客</title>

<link media="screen" rel="stylesheet" href="css/nav.css"/>
<link rel="stylesheet" href="css/font-awesome.css"/>
<link rel="stylesheet" href="css/bootstrap.min.css"/>


<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>

<script type="text/javascript">

jQuery(document).ready(function(){

	var qcloud={};

	$('[_t_nav]').hover(function(){

		var _nav = $(this).attr('_t_nav');

		clearTimeout( qcloud[ _nav + '_timer' ] );

		qcloud[ _nav + '_timer' ] = setTimeout(function(){

		$('[_t_nav]').each(function(){

		$(this)[ _nav == $(this).attr('_t_nav') ? 'addClass':'removeClass' ]('nav-up-selected');

		});

		$('#'+_nav).stop(true,true).slideDown(200);

		}, 150);

	},function(){

		var _nav = $(this).attr('_t_nav');

		clearTimeout( qcloud[ _nav + '_timer' ] );

		qcloud[ _nav + '_timer' ] = setTimeout(function(){

		$('[_t_nav]').removeClass('nav-up-selected');

		$('#'+_nav).stop(true,true).slideUp(200);

		}, 150);

	});

});

</script>



</head>

<body onselectstart="return false">

<div style="text-align:center;clear:both;">

</div>

<div class="head-v3">

	<div class="navigation-up">

		<a class="select_school" href="#" id="href_nav_1_school" title="切换学校">
			<i class="fa fa-mortar-board">&nbsp;&nbsp;</i>
			清华大学
		</a>
		<div class="navigation-inner">
			<div class="navigation-v3">

				<ul>

					<li class="nav-up-selected-inpage" _t_nav="nav_1_home">

						<h2>

							<a href="#" id='href_nav_1_home'>首页</a>

						</h2>

					</li>

					<li class="" _t_nav="nav_1_trade">

						<h2>

							<a href="#">校园买卖</a>

						</h2>

					</li>

					<li class="" _t_nav="nav_1_public">

						<h2>

							<a href="#">校园信息</a>

						</h2>

					</li>

					<li class="" _t_nav="nav_1_communicate">

						<h2>

							<a href="#">校园交流</a>

						</h2>

					</li>

					<li class="" _t_nav="nav_1_myinfo">

						<h2>

							<a href="#">我的信息</a>

						</h2>

					</li>

					<li _t_nav="nav_1_support">

						<h2>

							<a href="#">平台服务</a>

						</h2>

					</li>

				</ul>

			</div>
		</div>

		<div class="navigation-right">
			{{#if uid}}
				<a href="#" id="href_nav_1_exit"><i class="fa fa-user-circle-o">&nbsp;</i>退出</a>
			{{else}}
				<a href="#" id="href_nav_1_login"><i class="fa fa-user-circle">&nbsp;</i>登录</a>
			{{/if}}

		</div>


	</div>

	<div class="navigation-down">

		<div id="nav_1_trade" class="nav-down-menu menu-1" style="display: none;" _t_nav="nav_1_trade">

			<div class="navigation-down-inner">

				<dl style="margin-left: 100px;">

					<dt>浏览店铺</dt>

					<dd>

						<a href="#" id="href_nav_2_trade_shop_boys">男生店铺</a>

					</dd>

					<dd>

						<a href="#" id="href_nav_2_trade_shop_girls">女生店铺</a>

					</dd>

				</dl>

				<dl>

					<dt>我的店铺</dt>

					<dd>

						<a href="#" id='href_nav_2_trade_open_shop'>我要开店</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_mg_shop'>店铺管理</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_mg_kind'>分类管理</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_mg_goods'>商品管理</a>

					</dd>

				</dl>

				<dl>

					<dt>我的订单</dt>

					<dd>

						<a href="#" id='href_nav_2_trade_orders_from_myself'>我的订单</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_orders_form_others'>我的接单</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_shopping_cat'>购物车</a>

					</dd>

				</dl>

				<dl>

					<dt>货源渠道</dt>

					<dd>

						<a href="#" id='href_nav_2_trade_good_res_inschool'>校园超市</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_good_res_nearby'>周边货源</a>

					</dd>

					<dd>

						<a href="#" id='href_nav_2_trade_good_res_online'>在线货源</a>

					</dd>

				</dl>

			</div>

		</div>

		<div id="nav_1_public" class="nav-down-menu menu-1" style="display: none;" _t_nav="nav_1_public">

			<div class="navigation-down-inner">

				<dl style="margin-left: 100px;">

					<dt>浏览信息</dt>

					<dd>

						<a href="#" id='href_nav_2_public_any'>随笔杂谈</a>

					</dd>

					<dd>

						<a href="#" id="href_nav_2_public_trade">交易转让</a>

					</dd>

					<dd>

						<a href="#" id="href_nav_2_public_lose_sth">寻物启事</a>

					</dd>

				</dl>

				<dl>

					<dt>我的信息</dt>

					<dd>

						<a href="#" id="href_nav_2_public_publish">我要发布</a>

					</dd>

					<dd>

						<a href="#" id="href_nav_2_public_mg">信息管理</a>

					</dd>


				</dl>

			</div>

		</div>

		<div id="nav_1_communicate" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="nav_1_communicate">

			<div class="navigation-down-inner">

				<dl style="margin-left: 380px;">

					<dd>

						<a class="link" href="#" id="href_nav_2_communicate_lobby">聊天大厅</a>

					</dd>

				</dl>

				<dl>

					<dd>

						<a class="link" href="#" id="href_nav_2_communicate_msglist">消息列表</a>

					</dd>

				</dl>

				<dl>

					<dd>

						<a class="link" href="#" id="href_nav_2_communicate_myfriends">我的好友</a>

					</dd>

				</dl>

			</div>

		</div>

		<div id="nav_1_support" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="nav_1_support">

			<div class="navigation-down-inner">

				<dl style="margin-left: 610px;">

					<dd>

						<a class="link" href="#" id="href_nav_2_support_feedback">问题反馈</a>

					</dd>

				</dl>

				<dl>

					<dd>

						<a class="link" href="#" id="href_nav_2_support_about_us">关于我们</a>

					</dd>

				</dl>

				<dl>

					<dd>

						<a class="link" href="#" id="href_nav_2_support_doc_help">说明帮助</a>

					</dd>

				</dl>

			</div>

		</div>

		<div id="nav_1_myinfo" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="nav_1_myinfo">

			<div class="navigation-down-inner">

				<dl style="margin-left: 480px;">

					<dd>

						<a href="#" id="href_nav_2_myinfo_detail">我的信息</a>

					</dd>

				</dl>

				<dl>

					<dd>

						<a href="#" id="href_nav_2_myinfo_account">我的账户</a>

					</dd>

				</dl>

			</div>

		</div>

	</div>

</div>

{{{body}}}

<script src="js/school.js" type="text/javascript"></script>

<div id="choose-box-wrapper">
	<div id="choose-box">
		<div id="choose-box-title">
			<span>选择学校</span>
		</div>
		<div id="choose-a-province"></div>
		<div id="choose-a-school"></div>
		<div id="choose-box-bottom">
			<button id="btn_abort" name="btn_abort" class="btn btn-danger" onclick="hideSchools()" style="margin-right: 20px">取消</button>
		</div>
	</div>
</div>

<div id="footer">Copyright ©2018 Xuezike</div>

</body>

<script src="js/select_school.js" type="text/javascript"></script>
<script src="js/nav_menu.js" type="text/javascript"></script>
</html>