<style type="text/css">
.error_txt {
	width: 100%;
    margin-top: 35px;
    background: url(/img/bg404.jpg) no-repeat top center;
    font-size: 12px;
    line-height: 22px;
    padding-top: 100px;
    height: 180px;
    text-align: left;
    position: absolute;
    /*left: 50%; top: 40%; */
    transform: translate(-3%,50%);
}
</style>
<div class="error_txt">
	<div style="width: 50%;margin-left:calc(50% - 95px);">很抱歉！没有找到您要访问的页面，请检查您是否输入正确URL<br>
	请尝试以下操作：<br>
	1. 如果您已经在地址栏中输入该网页的地址，请确认其拼写正确<br>
	2. 打开<a href="home">http://localhost:3200/</a>主页，然后查找指向您感兴趣信息的链接<br>
	3. 单击<a href="javascript:history.back(1)"><img src="/img/return.gif" width="78" height="20"></a>尝试其他链接<br>
	4. 如果多次出现此错误，请与管理员联系;联系信箱<a href="mailto:2210036910@qq.com?subject=报告错误">2210036910@qq.com</a></div>
</div>