<form id="myinfoform" class="form-horizontal">
<fieldset id="myinfofield">

<!-- Form Name -->
<legend>我的信息</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="schoolname">我的学校</label>
  <div class="controls">
    <input id="schoolname" name="schoolname" type="text" placeholder="点击选择" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="address">宿舍楼及门牌号</label>
  <div class="controls">
    <input id="address" name="address" type="text" placeholder="如：男生宿舍2号楼1001" class="input-xlarge" required="">
    <p class="help-block">方便下单后送货上门，或开店后学生上门购买</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nickname">称呼</label>
  <div class="controls">
    <input id="nickname" name="nickname" type="text" placeholder="如：小李、宿舍长、宿舍里最帅的人" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="tel">手机号</label>
  <div class="controls">
    <input id="tel" name="tel" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_save"></label>
  <div class="controls">
    <button id="btn_save" name="btn_save" class="btn btn-success" disabled="true">保存</button>
    <button id="btn_abort" name="btn_abort" class="btn btn-danger" style="display: none;">取消</button>
  </div>
</div>

</fieldset>
</form>

<script type="text/javascript">
  require(['js/viewlogic/MyInfoLogic'], function(handler){  
    handler({
      sid:'{{sid}}',
      nickname:'{{name}}',
      tel:'{{tel}}',
      address:'{{address}}'
    });
  });  
</script>