<style type="text/css">
  .wrap{min-width: 320px;max-width:768px;margin:0;overflow:hidden;position:relative;}
  .wrapper {position:relative;height: 90px;width: 290px;overflow: hidden;margin:0;}
  .wrapper .scroller {position:absolute;}
  .wrapper .scroller li {float: left;width: 80px;height: 80px;line-height: 80px;text-align: center;font-style: none;padding: 5px}
  .wrapper .scroller li:nth-child(1) {} 
  .wrapper .scroller li {}
  .wrapper .scroller li span{display:block;}
</style>

<script type="text/javascript" src="plugin/iscroll/iscroll.js"></script>
<script type="text/javascript" src="plugin/iscroll/navbarscroll.js"></script>

<form class="form-horizontal" >
<fieldset>

<!-- Form Name -->
<legend>我要开店</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="schoolname">我的学校</label>
  <div class="controls">
    <input id="schoolname" name="schoolname" type="text" placeholder="点击选择" class="input-xlarge" required="" contenteditable="false">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="storenname">店铺名称</label>
  <div class="controls">
    <input id="storenname" name="storenname" type="text" placeholder="如：提莫君零食店" class="input-xlarge" required="">
    <p class="help-block">请使用合法的名称，建议名称具有意义</p>
  </div>
</div>

<!-- File Button --> 
<div class="control-group">
  <label class="control-label" for="logo">店铺图标</label>
  <div class="controls" >
    <input style="display: none;" id="logo" name="logo" class="input-file" type="file">

    <div class="wrapper" id="wrapper1">
      <div class="scroller">
        <ul class="clearfix">
          <li><img id="shopicon_1" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_2" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_3" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_4" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_5" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_6" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_7" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_8" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_9" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_10" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_11" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_12" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_13" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_14" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_15" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_16" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_17" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_18" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_19" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_20" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicon.png" style="width: 80px;height: 80px;background: #ddd;" /></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="">经营类目</label>
  <div class="controls">
    <label class="checkbox" for="category-0">
      <input type="checkbox" name="category" id="category-0" value="1" >
      零食/饮料
    </label>
    <label class="checkbox" for="category-1">
      <input type="checkbox" name="category" id="category-1" value="2" >
      二手书
    </label>
    <label class="checkbox" for="category-2">
      <input type="checkbox" name="category" id="category-2" value="3" >
      交通工具
    </label>
    <label class="checkbox" for="category-3">
      <input type="checkbox" name="category" id="category-3" value="4" >
      生活用品
    </label>
    <label class="checkbox" for="category-4">
      <input type="checkbox" name="category" id="category-4" value="5" >
      电子产品
    </label>
    <label class="checkbox" for="category-5">
      <input type="checkbox" name="category" id="category-5" value="6" >
      代跑腿
    </label>
    <label class="checkbox" for="category-6">
      <input type="checkbox" name="category" id="category-6" value="7" >
      网上服务
    </label>
    <label class="checkbox" for="category-7">
      <input type="checkbox" name="category" id="category-7" value="8" >
      游戏代练
    </label>
  </div>
</div>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label" for="sex">服务学生</label>
  <div class="controls">
    <label class="radio" for="sex-0">
      <input type="radio" name="sex" id="sex-0" value="1" checked="checked" required="required">
      <i class="fa fa-mars">&nbsp;</i>男生
    </label>
    <label class="radio" for="sex-1">
      <input type="radio" name="sex" id="sex-1" value="2" required="required">
      <i class="fa fa-venus">&nbsp;</i>女生
    </label>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="scope">派送范围</label>
  <div class="controls">
    <input id="scope" name="scope" type="text" placeholder="如：男生宿舍2号楼" class="input-xlarge" required="">
    <p class="help-block">请认真填写派送范围，以免无法派送</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="phone">手机号码</label>
  <div class="controls">
    <input id="phone" name="phone" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_ok"></label>
  <div class="controls">
    <button id="btn_ok" name="btn_ok" class="btn btn-success">立即拥有</button>
    <button id="btn_abort" name="btn_abort" class="btn btn-danger">取消</button>
  </div>
</div>

</fieldset>
</form>
<script type="text/javascript">
  $(function(){
    $('#logo').on('change', function() {
      var img = window.document.getElementById('imglogo');
      var dom = window.document.getElementById('logo');
      img.src = window.URL.createObjectURL(dom.files[0])
    });

    $('.wrapper').navbarscroll();
  });

  function selectShopIcon(item){
    alert(item.getAttribute("id"));
  }
</script>




