<form id="myinfoform" class="form-horizontal">
<fieldset id="myinfofield">

<!-- Form Name -->
<legend>个人资料</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="schoolname">我的学校</label>
  <div class="controls">
    <input id="schoolname" name="schoolname" type="text" placeholder="点击选择" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="address">宿舍楼及门牌号</label>
  <div class="controls">
    <input id="address" name="address" type="text" placeholder="如：男生宿舍2号楼1001" class="input-xlarge" required="">
    <p class="help-block">方便下单后送货上门，或开店后学生上门购买</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nickname">称呼</label>
  <div class="controls">
    <input id="nickname" name="nickname" type="text" placeholder="如：小李、宿舍长、宿舍里最帅的人" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="tel">手机号</label>
  <div class="controls">
    <input id="tel" name="tel" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_save"></label>
  <div class="controls">
    <button id="btn_save" name="btn_save" class="btn btn-success" disabled="true">保存</button>
    <button id="btn_abort" name="btn_abort" class="btn btn-danger" style="display: none;">取消</button>
  </div>
</div>

</fieldset>
</form>

<script type="text/javascript">
  require(['js/viewlogic/MyInfoLogic'], function(handler){  
    handler({
      sid:'{{sid}}',
      nickname:'{{name}}',
      tel:'{{tel}}',
      address:'{{address}}'
    });
  });  
</script>


<style type="text/css">
  .wrap{min-width: 320px;max-width:768px;margin:0;overflow:hidden;position:relative;}
  .wrapper {position:relative;height: 90px;width: 290px;overflow: hidden;margin:0;}
  .wrapper .scroller {position:absolute;}
  .wrapper .scroller li {float: left;width: 80px;height: 80px;line-height: 80px;text-align: center;font-style: none;padding: 5px}
  .wrapper .scroller li:nth-child(1) {} 
  .wrapper .scroller li {}
  .wrapper .scroller li span{display:block;}
</style>
<!-- 
<script type="text/javascript" src="plugin/iscroll/iscroll.js"></script>
<script type="text/javascript" src="plugin/iscroll/navbarscroll.js"></script>
 -->
<form id="openshopform" class="form-horizontal" >
<fieldset id="openshopfield">

<!-- Form Name -->
<legend>我要开店</legend>
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="schoolname">我的学校</label>
  <div class="controls">
    <input id="schoolname" name="schoolname" type="text" placeholder="点击选择" class="input-xlarge" required="" contenteditable="false">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="storenname">店铺名称</label>
  <div class="controls">
    <input id="storenname" name="storenname" type="text" placeholder="如：提莫君零食店" class="input-xlarge" required="">
    <p class="help-block">请使用合法的名称，建议名称具有意义</p>
  </div>
</div>

<!-- File Button --> 
<div class="control-group">
  <label class="control-label" for="logo">店铺logo</label>
  <div class="controls" >
    <input style="display: none;" id="logo" name="logo" class="input-file" type="file">
    <img id="shopicon_0" ondragstart="return false;" src="/img/shopicons/shopicon_1.jpg" style="width: 120px;height: 120px;background: #ddd;margin-left: 5px" />
    <div class="wrapper" id="wrapper1">
      <div class="scroller">
        <ul class="clearfix">
          <li><img id="shopicon_1" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_1.jpg" style="width: 70px;height: 70px;background: #ddd; border: 5px solid #735353" /></li>
          <li><img id="shopicon_2" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_2.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_3" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_3.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_4" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_4.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_5" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_5.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_6" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_6.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_7" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_7.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_8" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_8.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_9" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_9.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_10" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_10.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_11" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_11.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_12" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_12.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_13" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_13.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_14" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_14.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_15" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_15.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_16" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_16.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_17" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_17.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_18" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_18.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_19" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_19.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_20" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_20.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_21" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_21.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_22" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_22.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_23" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_23.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_24" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_24.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_25" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_25.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_26" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_26.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_27" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_27.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_28" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_28.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_29" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_29.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
          <li><img id="shopicon_30" onclick="selectShopIcon(this)" ondragstart="return false;" src="/img/shopicons/shopicon_30.jpg" style="width: 80px;height: 80px;background: #ddd;" /></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="">经营类目</label>
  <div class="controls">
    <label class="checkbox" for="category-0">
      <input type="checkbox" name="category" id="category-0" value="1" >
      零食/饮料
    </label>
    <label class="checkbox" for="category-1">
      <input type="checkbox" name="category" id="category-1" value="2" >
      二手书
    </label>
    <label class="checkbox" for="category-2">
      <input type="checkbox" name="category" id="category-2" value="3" >
      交通工具
    </label>
    <label class="checkbox" for="category-3">
      <input type="checkbox" name="category" id="category-3" value="4" >
      生活用品
    </label>
    <label class="checkbox" for="category-4">
      <input type="checkbox" name="category" id="category-4" value="5" >
      电子产品
    </label>
    <label class="checkbox" for="category-5">
      <input type="checkbox" name="category" id="category-5" value="6" >
      代跑腿
    </label>
    <label class="checkbox" for="category-6">
      <input type="checkbox" name="category" id="category-6" value="7" >
      网上服务
    </label>
    <label class="checkbox" for="category-7">
      <input type="checkbox" name="category" id="category-7" value="8" >
      游戏代练
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">服务对象</label>
  <div class="controls">
    <label class="checkbox inline" for="sex-0">
      <input type="checkbox" name="payway" id="sex-0" value="1" >
      <i class="fa fa-mars">&nbsp;</i>男生
    </label>
    <label class="checkbox inline" for="sex-1">
      <input type="checkbox" name="payway" id="sex-1" value="2" >
      <i class="fa fa-venus">&nbsp;</i>女生
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">交易方式</label>
  <div class="controls">
    <label class="checkbox inline" for="tradeway-0">
      <input type="checkbox" name="tradeway" id="tradeway-0" value="1">
      支持送货上门
    </label>
    <label class="checkbox inline" for="tradeway-1">
      <input type="checkbox" name="tradeway" id="tradeway-1" value="2">
      支持到店自取
    </label>
  </div>
</div>

<!-- Text input-->
<div class="control-group" id="control-group-carryprice">
  <label class="control-label" for="carryprice">起送价格</label>
  <div class="controls">
    <input id="carryprice" name="carryprice" type="text" class="input-mini" maxlength="4" required="" placeholder="￥0">
  </div>
</div>

<!-- Text input-->
<div class="control-group" id="control-group-carryfee">
  <label class="control-label" for="carryfee">配送费</label>
  <div class="controls">
    <input id="carryfee" name="carryfee" type="text" class="input-mini" maxlength="4" required="" placeholder="￥0">
  </div>
</div>

<!-- Text input-->
<div class="control-group" id="control-group-scope">
  <label class="control-label" for="scope">配送范围</label>
  <div class="controls">
    <input id="scope" name="scope" type="text" placeholder="如：男生宿舍2号楼" class="input-xlarge" required="">
    <p class="help-block">请认真填写派送范围，以免无法派送</p>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">支付方式</label>
  <div class="controls">
    <label class="checkbox inline" for="payway-0">
      <input type="checkbox" name="payway" id="payway-0" value="1" checked="checked">
      支持当面支付
    </label>
    <label class="checkbox inline" for="payway-1">
      <input type="checkbox" name="payway" id="payway-1" value="2" checked="checked">
      在线扫码支付
    </label>
  </div>
</div>


<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="notice">店铺公告</label>
  <div class="controls">                     
    <textarea id="notice" name="notice" maxlength="100">小店开张，欢迎光临！</textarea>
    <p class="help-block">可以描述一下需特殊说明的事项</p>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_ok"></label>
  <div class="controls">
    <button id="btn_ok" name="btn_ok" class="btn btn-success">立即拥有</button>
    <button id="btn_abort" name="btn_abort" class="btn btn-danger">取消</button>
  </div>
</div>

</fieldset>
</form>

<script type="text/javascript">
  ////======== 选择店铺图标 ========
  function selectShopIcon(item){
    let itemId = item.getAttribute("id");
    for(let i = 1; i <= 30; i++){
      let tmpId = 'shopicon_'+i;
      if (itemId == tmpId) {
        $('#'+tmpId).css("border", "5px solid #735353");
        $('#'+tmpId).css("width", "70px");
        $('#'+tmpId).css("height", "70px");
        $("#shopicon_0").attr('src',$('#'+tmpId)[0].src); 
      }else{
        $('#'+tmpId).css("border", "none");
        $('#'+tmpId).css("width", "80px");
        $('#'+tmpId).css("height", "80px");
      }
    }
  }
  require(['js/viewlogic/OpenShopLogic'], function(handler){  
    handler();
  });  
</script>




