<form class="form-horizontal" >
<fieldset>

<!-- Form Name -->
<legend>我要开店</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="storenname">店铺名称</label>
  <div class="controls">
    <input id="storenname" name="storenname" type="text" placeholder="如：提莫君零食店" class="input-xlarge" required="">
    <p class="help-block">请使用合法的名称，建议名称具有意义</p>
  </div>
</div>


<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="">经营类目</label>
  <div class="controls">
    <label class="checkbox" for="category-0">
      <input type="checkbox" name="category" id="category-0" value="零食" required="required">
      零食
    </label>
    <label class="checkbox" for="category-1">
      <input type="checkbox" name="category" id="category-1" value="二手书" required="required">
      二手书
    </label>
    <label class="checkbox" for="category-2">
      <input type="checkbox" name="category" id="category-2" value="生活用品" required="required">
      生活用品
    </label>
    <label class="checkbox" for="category-3">
      <input type="checkbox" name="category" id="category-3" value="电子产品" required="required">
      电子产品
    </label>
    <label class="checkbox" for="category-4">
      <input type="checkbox" name="category" id="category-4" value="代跑腿" required="required">
      代跑腿
    </label>
    <label class="checkbox" for="category-5">
      <input type="checkbox" name="category" id="category-5" value="网上服务" required="required">
      网上服务
    </label>
    <label class="checkbox" for="category-6">
      <input type="checkbox" name="category" id="category-6" value="游戏代练" required="required">
      游戏代练
    </label>
  </div>
</div>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label" for="sex">服务学生</label>
  <div class="controls">
    <label class="radio" for="sex-0">
      <input type="radio" name="sex" id="sex-0" value="男生" checked="checked" required="required">
      <i class="fa fa-mars">&nbsp;</i>男生
    </label>
    <label class="radio" for="sex-1">
      <input type="radio" name="sex" id="sex-1" value="女生" required="required">
      <i class="fa fa-venus">&nbsp;</i>女生
    </label>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="scope">派送范围</label>
  <div class="controls">
    <input id="scope" name="scope" type="text" placeholder="如：男生宿舍2号楼" class="input-xlarge" required="">
    <p class="help-block">请认真填写派送范围，以免无法派送</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="phone">手机号码</label>
  <div class="controls">
    <input id="phone" name="phone" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btn_ok"></label>
  <div class="controls">
    <button id="btn_ok" name="btn_ok" class="btn btn-success">立即拥有</button>
    <button id="btn_abort" name="btn_abort" class="btn btn-danger">取消</button>
  </div>
</div>

</fieldset>
</form>







