@charset "UTF-8";
html{font-size:62.5%;font-family:'Microsoft YaHei',tahoma,arial,'hiragino sans gb','Simsun',sans-serif} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0}
body{line-height:1.333;font-size:12px;background:#f8f8f8;background-image: url(/img/bg.png);}
@keyframes fadein{0%{opacity: 0;}100%{opacity: 1;}}
@-webkit-keyframes fadein{ 0%{opacity: 0;}100%{opacity: 1;}}
@-moz-keyframes fadein{0%{opacity: 0; }100%{opacity: 1;}}
@-o-keyframes fadein{ 0%{opacity: 0; }100%{opacity: 1;}}
@-ms-keyframes fadein{0%{opacity: 0; } 100%{opacity: 1; }}
/*页面淡入*/
body{ animation:fadein 0.2s linear 1; -webkit-animation:fadein 0.2s linear 1;-moz-animation:fadein 0.2s linear 1; -o-animation:fadein 0.2s linear 1;-ms-animation:fadein 0.2s linear 1;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:"Microsoft YaHei"}
li{list-style:none}
a:link,a:visited{text-decoration:none}
#footer {height: 20px;line-height: 20px;position: fixed; bottom: 0;width: 100%; text-align: center;background: #000000;color: #fff;font-family: "Microsoft YaHei";font-size: 12px;letter-spacing: 1px;}
.select_school{margin-left:55px; position: absolute;display: inline-block;height: 60px;line-height: 60px;font-size:15.8px;font-family: "Microsoft YaHei"; color: #fff;}
.select_school:hover{color: #735353}
.head-v3{position:relative;z-index:100;min-width:1000px}
.head-v3 .navigation-inner{margin:0 auto;width:980px;position:relative}
.navigation-up{height:60px;background:#000000;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.38)}
.navigation-up .navigation-v3{margin-left:155px;float:left;_margin-left:10px}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;font:normal 18px/59px "Microsoft YaHei";color:#fff}
.navigation-up .navigation-v3 .nav-up-selected{background:#735353}
.navigation-up .navigation-v3 .nav-up-selected-inpage{}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0}
.navigation-up .navigation-v3 li h2 a{padding:0 25px;color:#fff;display:inline-block;height:60px;font-family:"Microsoft YaHei";line-height: 60px;font-size: 18px;}
.head-v3 .navigation-right{float:right;position: absolute;right: 15px;text-align: right;height:60px;line-height: 60px;font-size: 16px;font-family:"Microsoft YaHei";color: #abc;}
.head-v3 .navigation-right a{color: #FFF;font-size: 15.8px}
.head-v3 .navigation-right a:hover{color: #735353;}

.navigation-down{position:absolute;top:60px;left:0px;width:100%}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#735353;position:absolute;top:0px;box-shadow: 3px 3px 3px rgba(115, 83, 83, 0.38)}
.navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative}
.navigation-down .nav-down-menu dl{float:left;margin:18px 80px 18px 0}
.navigation-down .menu-1 dl{margin:20px 80px 25px 0}
.navigation-down .menu-1 dt{font:normal 18px "Microsoft YaHei";color:#F9F0D7;padding-bottom:10px;border-bottom:1px solid #F9F0D7;margin-bottom:10px}
.navigation-down .menu-1 dd a{color:#fff;font:normal 18px/30px "Microsoft YaHei"}
.navigation-down .menu-1 dd a:hover{color:#000}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#fff;font:normal 18px "Microsoft YaHei"}


/* choose-box-wrapper */
#choose-box-wrapper{width:100%;height: 100%; background:#000;background-color:rgba(0, 0, 0, 0.25);display:none;left: 50%; top: 50%; transform: translate(-50%,-50%);position: fixed;}
#choose-box{width:1250px;height: 650px; background:#fff;position: absolute;left: 50%;top:70px; transform: translate(-50%,0%);border-radius:5px 5px 0px 0px;}
#choose-box-title{background:#F2F2F2;color:#735353;padding:4px 10px 5px;font-size:16px;margin:0;height: 40px;line-height: 40px;border-radius:5px 5px 0px 0px;font-weight:bold;}
#choose-box-title span{font-family:"Microsoft YaHei"}
#choose-a-province, #choose-a-school{margin:5px 8px 10px 8px;border:1px solid #735353;height: 70px;}
#choose-a-province a{display:inline-block;height:30px;line-height:30px;color:#000000;text-decoration:none;font-size:16px;font-family:"Microsoft YaHei";margin:2px 5px;padding:0px 3px 0px 3px;text-align:center;}
#choose-a-province a:hover{text-decoration:underline;cursor:pointer;}
#choose-a-province .choosen{background:#735353;color:white;}
#choose-a-school{overflow-x:hidden;overflow-y:auto;height:500px;}
#choose-a-school a{height:30px;line-height:30px;color:#000000;text-decoration:none;font-size:16px;font-family:"Microsoft YaHei";float:left;width:200px;margin:4px 12px;padding-left:10px;overflow-x:hidden;}
#choose-a-school a:hover{background:#735353;color:#fff;}
#choose-box-bottom{background:#FFFFFF;padding:8px;text-align:right;border-top:1px solid #CCC;height:40px;border-radius:0px 0px 5px 5px;}
#choose-box-bottom input{vertical-align:middle;text-align:center;background:#000000;color:white;border-top:1px solid #B8D4E8;border-left:1px solid #B8D4E8;border-right:1px solid #114680;border-bottom:1px solid #114680;cursor:pointer;width:60px;height:25px;margin-top:6px;margin-right:6px;line-height:25px;}